/*-----------------------------------------------------------------------------------

    Template Name: Your template name 
    Template URI: http://sumonhasan.com
    Description: This is html5 template
    Author: Sumon Hasan
    Author URI: http://sumonhasan.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.carousel-area{
	margin:50px 0px
}
.carousel-tab{
	text-align:center
}

.carousel-tab li{
	display:inline-block;
	padding:20px;
	border-bottom:4px double #ddd;
	margin-bottom:20px
}

.carousel-tab li a {
  color: #909295;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.carousel-tab li:hover{
	border-bottom:4px double red;
}
.carousel-tab li.active{
	border-bottom:4px double red;
}
.tab-content .tab-pane{
	display:block;
	height:0;
	overflow:hidden	
}
.tab-content .active{
	display:block;
	height:auto;
	overflow:visible	
}
.owl-controls .owl-nav div{
	background:#000;
	height:35px;
	width:35px;
	color:#fff;
	position:absolute;
	top:50%;
	margin-top:-15px;
	text-align:center;
	line-height:45px;
	
}

.owl-controls .owl-nav .owl-next{
	right:0;
	left:auto
}
.product-img {
  position: relative;
}
.secondary-img {
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 5ms ease 0s;
}
.single-tab-content:hover .secondary-img{
	opacity:1
}
.porduct-action {
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 65%;
  transition: all 0.3s ease 0s;
  z-index: 3;
}

.single-tab-content:hover .porduct-action{
	opacity:1;
	 top: 45%;
}
.product-img > a::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 2;
}
.single-tab-content:hover .product-img > a::before{
	 opacity: .5;
}
.pro-add-cart > a {
  border-bottom: 4px double #fff;
  border-top: 4px double #fff;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 8px 30px;
  text-transform: uppercase;
}
.pro-add-cart:hover a {
  border-bottom: 4px double red;
  border-top: 4px double red;
  color: red;
  transition: all 0.3s ease 0s;
}
.pro-add-icon {
  margin-top: 10px;
}
.pro-add-icon > a {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  margin: 0 5px;
  width: 40px;
}
.pro-add-icon> a:hover {
  border: 2px solid red;
  color: red;
  transition: all 0.3s ease 0s;

}
.sale {
  background: red none repeat scroll 0 0;
  color: #fff;
  font-weight: 700;
  left: 0;
  padding: 2px 15px;
  position: absolute;
  top: 0;
  z-index: 4;
}
